*{
    margin: 0;
    padding: 0;
}
body{
    background: url("bg.jpg") no-repeat center;
    background-size:cover;
    /* background-size: 1500px; */
}
.container{
    /* border: 5px solid black; */
    position:absolute;
    left: 10%;
    top: 10%;
    width: 30%;
    height: 20%;
}
.container h1{
    color: rgb(36, 35, 35);;
    font-size: 40px;
    width: 30%;
    border-bottom: 6px solid black;
    margin-bottom: 20px;
}
.box{
    border-bottom: 3px solid black;
    width: 60%;
    margin-top: 30px;
    padding: 4px 0px;
}
.box input{
    font-size: 16px;
    background: none;
    color: black;
    outline: none;
    border: none;
}
.box ::placeholder{
    color: black;
}
.box i{
    font-size: 20px;
    margin-right: 5px;
}
.btn{
    font-size: 17px;
    background: none;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 15px;
}
.btn:hover{
    cursor:pointer;
}